<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--launch controller -->
  <rosparam file="$(find fetch_open_auto_dock)/params/docking_parameters.yaml" command="load"/>
  <node name="auto_dock_controller" pkg="fetch_open_auto_dock" type="master_dock_controller" output="screen" />


  <!--launch docking and undocking servers-->
  <node name="auto_dock" pkg="fetch_open_auto_dock" type="auto_dock" output="screen" >
  <rosparam file="$(find fetch_open_auto_dock)/params/docking_parameters.yaml" command="load"/>
  <remap from="base_scan" to="scan_unfiltered" />
  <remap from="cmd_vel" to="dock_cmd_vel" />

  </node>

</launch>
