<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--launch controller -->
  <rosparam file="$(find fetch_open_auto_dock)/params/docking_parameters.yaml" command="load"/>

  <!--launch dock estimator-->
  <node name="dock_estimator" pkg="fetch_open_auto_dock" type="init_dock_estimate" output="screen" >
  <!--<remap from="base_scan" to="scan_unfiltered" />-->
  <remap from="base_scan" to="scan" />

  </node>

</launch>
